$theme_color: #fff;
$counter_color: #000;
$gray_f3: #f3f3f3;
$primary: #0d6efd;
$success: #198754;
$info: #0dcaf0;
$danger: #d70000;
$pink: #d63384;
$purple: #6f42c1;
$secondary: #6c757d;
$phone: 600px;
$tab-port: 800px;
$tab-land: 1000px;
$desktop: 1400px;

@mixin phone {
    @media only screen and (max-width: $phone) {
        @content;
    }
}

@mixin tab-port {
    @media only screen and (max-width: $tab-port) {
        @content;
    }
}

@mixin tab-land {
    @media only screen and (max-width: $tab-land) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (max-width: $desktop) {
        @content;
    }
}

body {
    font-family: 'Varta', 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.dropdown-menu {
    padding: 10px 20px;

    li {
        display: contents;
        margin-left: 10px;
        padding: 0 10px;
    }
}

.admin-list {
    li {
        display: block;
        padding: 10px 0;
    }
}

.dropdown-menu .show {
    width: 300px;
}

.bg-theme {
    background-color: $theme_color;
}

.bg-gray {
    background-color: #f3f3f3;
}

.bg-img {
    background-image: url(https://image.slidesdocs.com/responsive-images/slides/0-blue-cartoon-style-english-early-education-course-introduction-powerpoint-background_eed7c72309__960_540.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 550px;
}

.text-theme {
    color: $counter_color;
}

.action-theme {
    color: #3b5998;
    text-decoration: none;
}

.action-theme:hover {
    color: $danger;
    text-decoration: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: $danger;
}

p {
    margin-bottom: 0;
}
.sub_item {
    font-size: 14px;
}
.slick-arrow {
    background-color: transparent;
    border: none;
    color: $counter_color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;

    :hover {
        color: $danger;
    }
}

.slick-prev {
    left: -40px;
}

.slick-next {
    right: -40px;
}

.modal {
    top: 30%;
}

.modal-mv {
    top: 0;
}

.clock {
    position: fixed;
    top: 10%;
    left: 0;
    background-color: #3b5998;
    color: #fff;
    padding: 10px 20px;
    font-weight: 700;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1000;
}

@include phone {
    .slick-arrow {
        top: -42px;
    }

    .slick-prev {
        left: 85%;
    }

    .slick-next {
        right: 0;
    }
}

// Header style
header {
    background-color: #f3f3f3;

    .header {
        align-items: center;
        display: flex;
        width: 100%;

        .logo {
            width: 20%;

            a {
                color: $counter_color;
                font-weight: 700;
                font-size: 32px;
                text-decoration: none;
            }

            @include tab-land {
                width: 30%;
            }
        }

        .search-bar {
            width: 60%;
            display: block;
            text-align: center;

            form {
                width: 100%;
                position: relative;

                input {
                    width: 100%;
                    height: 40px;
                    padding-left: 20px;
                    background-color: transparent;
                    color: $counter_color;
                    border: 1px solid $counter_color;
                    border-radius: 15px;
                }

                input::placeholder {
                    color: $counter_color;
                }

                button {
                    position: absolute;
                    background-color: transparent;
                    color: $counter_color;
                    border: none;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            @include desktop {
                width: 55%;
            }

            @include tab-land {
                width: 35%;
            }
        }

        .authen {
            width: 20%;
            display: block;
            text-align: right;

            a {
                font-weight: 600;
                color: $counter_color;
                text-decoration: none;
                padding: 10px;
            }

            @include desktop {
                width: 25%;
            }

            @include tab-land {
                width: 35%;
            }
        }

        @include tab-port {
            display: none;
        }
    }

    .header-mobile {
        display: none;
        align-items: center;
        border-bottom: 1px solid #ccc;

        @include tab-port {
            display: flex;

            .logo {
                width: 40%;
                font-size: 24px;

                a {
                    color: $counter_color;
                    text-decoration: none;
                }
            }

            .authen {
                width: 50%;
                display: block;
                text-align: right;

                a {
                    font-size: 16px;
                    color: $counter_color;
                    text-decoration: none;
                }

            }

            .toogle {
                width: 10%;
                display: block;
                text-align: right;
                font-size: 24px;
                color: $counter_color;
                cursor: pointer;
            }
        }
    }

    @include tab-port {}
}

nav {
    background-color: $theme_color;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    ul {
        display: block;
        text-align: center;

        a {
            color: $counter_color;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px;

            :hover {
                color: $danger;

            }

            li {
                font-weight: 700;
                padding: 13px 20px;

                @include tab-port {
                    display: block;
                }
            }
        }

        a:hover {
            border-bottom: 5px solid $danger;
        }


        form {
            display: none;
        }
    }

    @include tab-port {
        display: none;
    }
}

.offcanvas-body {
    a {
        display: block;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px;
        margin-bottom: 5px;
        border-bottom: 1px solid #ccc;
    }

    form {
        margin-top: 10px;
        position: relative;

        input {
            width: 100%;
            height: 38px;
            border-radius: 4px;
            padding-left: 10px;
        }

        button {
            background-color: transparent;
            border: none;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

// Index style
.main-head {
    position: relative;

    .label-post {
        position: absolute;
        width: 30%;
        background-color: $danger;
        height: 500px;
        left: 0;

        h4 {
            margin-top: 40px;
            font-size: 30px;
            line-height: 1.5;

            @include tab-port {
                margin-top: 0;
            }
        }

        .label-content {
            font-family: "Montserrat", sans-serif;
            display: block;
            color: #f1f1f1;
            line-height: 1.5;
        }

        a {
            font-size: 18px;
            color: #ffeb56;
            font-weight: 700;
        }

        a:hover {
            color: #0d6efd;
        }

        @include desktop {
            width: 40%;
        }

        @include tab-land {
            width: 60%;
        }

        @include tab-port {
            width: 100%;
        }
    }
}

.banner-fill {
    margin-top: -50px;

    .banner_fill {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 20px;

        .banner_fill-img {
            width: 50%;
            padding: 20px;
            padding-bottom: 0;

            img {
                width: 100%;
            }

            @include tab-port {
                width: 100%;
                order: 2;
            }
        }

        .banner_fill-text {
            width: 50%;
            padding: 20px;
            display: block;
            text-align: right;

            .banner_fill-text-title {
                font-size: 28px;
                font-weight: 600;

                h3 {
                    font-size: 30px;
                    color: $danger;
                }
            }

            .banner_fill-text-content {}

            .banner_fill-text-action {
                a {
                    color: $danger;
                    font-weight: 700;
                }
            }

            @include tab-port {
                width: 100%;
                order: 1;
            }
        }
    }

    .row {
        .col-md-4 {
            border: 1px solid #ccc;
            cursor: pointer;
        }
    }
}

.course {
    background-color: #fff;
    font-weight: 600;

    .course-title {
        padding: 30px 10px 10px 0;
        font-size: 28px;
        font-weight: 700;
        color: #198754;
        border-bottom: 5px solid $danger;
        margin-bottom: 10px;
    }

    .course-list {
        .slick-arrow {
            background-color: transparent;
            border: none;
            color: $counter_color;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 24px;

            :hover {
                color: $danger;
            }
        }

        .slick-prev {
            left: -40px;
        }

        .slick-next {
            right: -40px;
        }

        .course-item {
            border: 1px solid #ccc;

            p {
                font-size: 14px;
                overflow: hidden;
                word-wrap: break-word;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
            }

            .title {
                font-weight: 700;
                font-size: 16px;
                margin-top: 10px;
                word-wrap: break-word;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }

            a {
                color: $primary;
                font-weight: 600;
                display: block;
                text-align: right;
            }

            a:hover {
                color: $danger;
            }
        }

        @include phone {
            .slick-arrow {
                top: -42px;
            }

            .slick-prev {
                left: 85%;
            }

            .slick-next {
                right: 0;
            }
        }
    }
}

.word-of-day {
    padding: 40px 0;
    background-image: url(https://png.pngtree.com/background/20210714/original/pngtree-wuhan-city-night-financial-street-panorama-picture-image_1198358.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    display: block;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: -2;

    .nen-mo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .8;
        z-index: -1;
    }

    .text-word {
        width: 70%;
        display: block;
        margin: auto;
        z-index: 2;

        .title {
            font-size: 28px;
            font-weight: 700;
        }

        .forum-word {
            display: block;
            text-align: center;

            ._word {
                font-size: 28px;
                font-weight: 700;
                color: $danger;
                letter-spacing: 2px;
            }
        }

        @include tab-port {
            width: 95%;
        }
    }
}

// Translate style 
.translate {
    textarea {
        width: 100%;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        color: #000;
        padding: 10px 20px;
    }

    textarea:focus {
        border-color: #198754;
    }
}

// Forum style
.forum {
    background-color: #fff;

    .badges {
        width: 20px;
    }

    .forum-title {
        padding: 30px 10px 10px 0;
        font-size: 28px;
        font-weight: 700;
        color: #198754;
        border-bottom: 5px solid $danger;
        margin-bottom: 10px;
    }

    .forum-sub-title {
        font-size: 22px;
        font-weight: 700;
        margin-top: 10px;
        padding-bottom: 15px;
    }

    .forum-list {

        .forum-item {
            display: flex;
            width: 100%;
            border: 2px solid #000;
            border-radius: 4px;
            padding: 10px;
            margin-bottom: 10px;

            .forum-item-img {
                width: 5%;
                text-align: center;

                img {
                    width: 70%;
                    border: 1px solid #000;
                }
            }

            .forum-item-content {
                width: 95%;

                .title {
                    font-weight: 700;
                    font-size: 16px;
                }

                .title:hover {
                    color: $danger;
                }

                .information {
                    margin-top: 5px;
                    font-size: 14px;

                    .information-user {
                        font-weight: 700;
                    }

                    .information-view {
                        font-weight: 700;
                        float: right;
                    }
                }
            }

            @include phone {
                .forum-item-img {
                    width: 20%;
                }

                .forum-item-content {
                    width: 80%;
                }
            }
        }

        .forum-item:first-child {
            padding-top: 10px;
        }
    }

    #list-scroll {
        padding-right: 10px;
        overflow-y: scroll;
        height: auto;
        max-height: 400px;
    }

    #list-scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    #list-scroll::-webkit-scrollbar {
        width: 3px;
        background-color: #ffffff;
    }

    #list-scroll::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #000;
        background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from($pink), to($pink), color-stop(.6, $pink));
    }
}

.post-content {
    .post__name {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.5;
        padding: 10px 0;
    }

    .post__author {
        margin-bottom: 20px;
        font-size: 20px;
        display: flex;

        .__img {
            width: 5%;

            img {
                width: 100%;
            }
        }

        .__name {
            display: flex;
            align-items: center;
            margin-left: 10px;
        }
    }

    .post__date {
        color: #444;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 700;
    }

    .post__content {
        width: 100%;

        img {
            max-width: 80%;
        }
    }

    .post__social {
        padding: 20px 0;
    }

    .post__interact {
        font-size: 20px;
        text-align: right;
    }
}

.comment-side {
    textarea {
        width: 100%;
        border: 2px solid #ccc;
        padding: 10px;
        border-radius: 4px;
    }
}

.comment {
    width: 100%;
    display: flex;

    .comment-img {
        width: 10%;
        text-align: center;

        img {
            width: 60%;
        }
    }

    .comment-content {
        width: 90%;

        .comment__name {
            font-weight: 700;
        }

        .comment__content {
            padding: 10px 0;
            width: 100%;
        }

        .comment__date {
            text-align: right;
            color: #444;
        }
    }

    @include tab-port {
        flex-wrap: wrap;

        .comment-img {
            width: 20%;
            text-align: left;
        }

        .comment-content {
            width: 100%;
        }
    }
}

.statistical {
    background-color: #fff;

    .title {
        padding: 30px 10px 10px 0;
        font-size: 28px;
        font-weight: 700;
        color: #198754;
        border-bottom: 5px solid $danger;
        margin-bottom: 10px;
    }
}

// Login style 
.login {
    margin: 10px auto;
    background-color: #fff;

    .login-form {
        padding: 20px;

        .title {
            font-size: 26px;
            font-weight: 700;
            text-align: center;
            padding: 10px;
            text-transform: uppercase;
        }
    }

    .img {
        text-align: center;

        img {
            width: 60%;
            display: block;
            margin: auto;
        }
    }
}

// Lesson Style
.photo {
    padding: 0;
    background-image: url(/public/Image/icon/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    display: block;
    text-align: center;
    position: relative;

    .photo-blur {
        position: absolute;
        background-color: #FFF;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .7;
        z-index: 1;
    }

    .text {
        position: absolute;
        color: #198754;
        top: 30%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 2;

        @include phone {
            font-size: 30px;
        }
    }
}

.lesson {

    .title {
        padding: 30px 10px 10px 10px;
        font-size: 28px;
        font-weight: 700;
        color: #000;
        border-bottom: 5px solid $danger;
    }

    .content {
        margin-top: 10px;
        padding: 0 10px;
        font-weight: 600;
        color: #333;
        font-size: 14px;

        a {
            color: #3b5998;
            font-size: 16px;
        }

        a:hover {
            color: #c70000;
            border-bottom: 3px solid #c70000;
        }

        p {
            font-size: 14px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 5px;
        }

        .other-lesson {
            display: flex;
            width: 100%;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            border-radius: 4px;

            .other-lesson-img {
                width: 25%;

                img {
                    width: 100%;
                    border-radius: 4px 0 0 4px;
                }
            }

            .other-lesson-content {
                margin-left: 10px;
            }
        }
    }

    .main {
        .noidung {
            img {
                width: 100%;
                display: block;
                justify-content: center;
                align-items: center;
            }
        }
        .content {
            .lesson-item {
                cursor: pointer;
                padding: 10px;
                border: 1px solid #ccc;
                text-align: center;

                img {
                    width: 100%;
                    height: 170px;
                    overflow-y: hidden;
                }

                a {
                    word-wrap: break-word;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                }

                a:hover {
                    text-decoration: none;
                    border: none;
                }
            }
        }

        .sub_title {
            margin-top: 20px;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .sub_content {
            a {
                color: #3b5998;
                font-weight: 600;
            }
        }
    }
}

// User Style

.mobile-center {
    @include tab-port {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

.profile {
    .user-avatar {
        position: relative;
        text-align: center;
        padding: 10px;

        img {
            width: 55%;

        }

        #avatar_changer {
            position: absolute;
            bottom: 10px;
            color: #ccc;
            left: 50%;
            transform: translateX(-50%);
            opacity: .4;
        }

        #avatar_changer:hover {
            opacity: 1;
        }
    }

    .user-info {
        padding: 10px;

        .title {
            padding-bottom: 10px;
            margin-bottom: 10px;
            font-weight: 700;
            text-transform: uppercase;
            border-bottom: 1px solid #ccc;
        }

        .content {
            color: #333;

            p {
                padding: 10px 0;
            }
        }

        .name {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 1px;
        }

        .username {
            font-weight: 700;
            color: $primary;
        }

        .stats {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        a:hover {
            color: $danger;
        }
    }
}

.user-list {
    
}

.user-item {
    padding: 5px;

    .user-item-border {
        display: flex;
        padding: 25px 10px;
        border-radius: 7px;
        background-color: #fbfaff;

        .user-item-img {
            width: 20%;

            img {
                width: 100%;
            }
        }

        .user-item-info {
            margin-left: 10px;
            width: 80%;

            .name {
                font-size: 18px;
                font-weight: 700;
            }

            .username {
                font-size: 14px;
            }

            .location {
                font-size: 14px;
                font-weight: 700;
                margin-top: 10px;
            }
        }
    }

    .user-item-border:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

.question-selector {
    display: flex;
    flex-wrap: wrap;

    .question__selector__done {
        width: 30px;
        height: 30px;
        color: #fff;
        background-color: $danger;
        border: none;
        border-radius: 50%;
        margin: 10px;
    }

    .question__selector {
        width: 30px;
        height: 30px;
        color: #000;
        background-color: $gray_f3;
        border: 1px solid $danger;
        border-radius: 50%;
        margin: 10px;
    }
}

.r-member,
.r-mod,
.r-cm,
.r-admin,
.r-banned {
    font-weight: 700;
}

.r-member {
    color: #0d6efd;
}

.r-mod {
    color: $purple;
}

.r-cm {
    color: $success;
}

.r-admin {
    color: $danger;
}

.r-banned {
    font-style: italic;
    text-decoration: line-through;
}

// Test style
.test {
    .score {
        font-size: 140px;
        font-weight: 700;
        color: $danger;
    }

    .numb_question {
        color: $success;
        font-size: 40px;
        font-weight: 700;
    }
}

.modal::-webkit-scrollbar {
    width: 10px;
}

.modal::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.modal::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 20px;
    border: 3px solid #f1f1f1;
}

.modal::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

// Admin style
.admin {
    .icon {
        font-size: 50px;

    }

    .list-group-item:hover {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }

    .define_management,
    .sign_management {
        color: #111;
        height: 30px;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        overflow-y: hidden;
        margin: 10px 0;
    }

    .text_pane {
        padding: 20px 10px;
        border-left: 5px solid $pink;
        color: #333;
        background-color: #f7f7f7;
    }
    .overflow-auto {
        margin-top: 10px;
        max-height: 100px;
    }
}

footer {
    color: $theme_color;
    background-color: $danger;

    .footer-title {
        color: $theme_color;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 0;
        padding-top: 20px;
        border-bottom: 5px solid #ccc;
    }

    .footer-content {
        color: #ccc;
    }

    .faqs {
        a {
            color: #ccc;
            text-decoration: none;

            :hover {
                text-decoration: underline;
            }

            li {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}